
#Button0{
  position:relative;
  left:-11px;
}
#Button1{
	
}
#Button2{
	position:relative;
	left:11px;
}
#Button3{
  position:relative;
  left:-11px;
	
}
#Button4{
	
}
#Button5{
	position:relative;
	left:11px;
	
}
#Button6{
  position:relative;
  left:-11px;	
}
#Button7{
	
}
#Button8{
	position:relative;
	left:11px;
}
#Button9{
	position:relative;
	left:23px;
	margin-left:5px;
	margin-right:50px;
	
}
#Body{
	position:flex;
	flex-direction:row;
	flew-wrap:wrap;
	width:100px;
	height:120px;
	text-align:center;
	border:2px solid black;
	background-color:black;
}
body{
	position:relative;
	left:600px;
	top:220px;
	text-transform:capitalize;
	background-color:aqua;
}
#header{
	position:relative;
	left:-100px;
	bottom:100px;
}
.Buttons{
	background-color:orange;
}
.Commands{
	background-color:red;
}
.labels,input{
	position:relative;
	left:-10px;
	margin-bottom:10px;
}
#input1{
	margin-top:10px;
}
input[type="button"]{
	position:relative;
	left:110px;
	border-radius:10px;
}
input[type="number"]{
	border-radius:10px;
}